[Desktop Entry]
Type=Application
Name=omaths
GenericName=Markdown Writer
Comment=Markdown writing app for entering LaTeX maths, derived from omawrite
Exec=omaths %f
Icon=omaths
Terminal=false
Categories=Office;WordProcessor;TextEditor;
MimeType=text/markdown;text/x-markdown;text/plain;
Keywords=markdown;write;notes;text;editor;
StartupWMClass=omaths
